[submodule "submodules/script-utils"]
	path = submodules/script-utils
	url = https://github.com/essembeh/script-utils
[submodule "submodules/vim-sensible"]
	path = submodules/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "submodules/SearchComplete"]
	path = submodules/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete
[submodule "submodules/brew"]
	path = submodules/brew
	url = https://github.com/Homebrew/brew
[submodule "submodules/ohmyzsh"]
	path = submodules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
