[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/essembeh/oh-my-zsh
[submodule "submodules/script-utils"]
	path = submodules/script-utils
	url = https://github.com/essembeh/script-utils
[submodule "submodules/vim-sensible"]
	path = submodules/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "submodules/SearchComplete"]
	path = submodules/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete
[submodule "submodules/termicolor"]
	path = submodules/termicolor
	url = https://github.com/essembeh/termicolor
