[Desktop Entry]
Name=Eclipse
Type=Application
Exec=/home/seb/dotfiles/bin/local/eclipse
Terminal=false
Icon=/usr/share/icons/gnome-colors-common/32x32/apps/eclipse.png
Comment=Eclipse
NoDisplay=false
Categories=Development;IDE
Name[en]=eclipse.desktop
