[Desktop Entry]
Type=Application
Name=XRandR-Switch
Comment=Change display configuration
Icon=video-display
Exec=/home/seb/dotfiles/bin/xrandr-switch.sh auto
Terminal=true
